[flake8]
max-line-length = 119
ignore = E203, E266, E501, W503, W605
exclude = .git, __pycache__, venv, .venv, migrations, old, build, dist
per-file-ignores =
    __init__.py:F401,
    users/tests.py:F401
